/* ----Fonts---- */

body {
  font-family: $body-font, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: $grey-dark;
  font-size: 18px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6, button, select, input, textarea, nav, .nav, svg text {
 font-family: $header-font, Avenir Next, Arial, Helvetica, sans-serif;
}

h1 { font-size: 38px; }
h2 { font-size: 30px; }
h3 { font-size: 22px; }

code {
  font-family: Courier;
  color: $grey-med-dark;
}



