svg {
  background: white;
  border: 1px solid $grey;
}

svg line {
  stroke: $grey-med-dark;
  stroke-width: 1.5px;
}

svg line.line-light {
  stroke: $grey;
}

svg circle, svg rect {
  fill: $svg-fill;
}

svg circle.outline, svg rect.outline {
  fill: $svg-fill-light;
  stroke: $svg-fill;
  stroke-width: 1.5px;
}