/* ----Settings---- */

/* Grid */

/* Font */
$header-font: "Montserrat";
$body-font: "Martel";

/* UI */

/* Colors */
$grey-light: #f5f5f5;
$grey: #E4E4E4;
$grey-med-dark: #999;
$grey-dark: #444;

$white: #fff;

$denim: #30465C;
$denim-light: #4E7091;

$blue: #1D5BCD;
$blue-light: #5A87DA;

$teal: #11AAB0;
$teal-light: #64C4C8;

$yellow: #ECB72D;
$yellow-light: #F4CB63;

$green: #3EAB65;
$green-light: #7CC295;

$red: #E55F47;
$red-light: #ED8977;


/* Set your primary color */
$primary: $teal;
$primary-light: $teal-light;

$secondary: $yellow;
$secondary-light: $yellow-light;

/* Graph colors */

$svg-line: $grey-med-dark;
$svg-line-light: $grey-light;

$svg-fill: $teal;
$svg-fill-light: $teal-light;

