/* ----UI styles---- */

/* Tags */

html {
  overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
  padding-top: 30px;
  padding-bottom: 15px;
}

header, footer{
  padding-top: 30px;
  padding-bottom: 30px;
}

small {
  font-size: 12px;
}

section {
  padding-bottom: 30px;
}

p {
  margin-bottom: 10px;
  margin-top: 5px;
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: 700;

  .bg-dark & {
    color: $primary-light;
  }
}

a:hover {
  color: $primary-light;

  .bg-dark &{
    color: $primary;
  }
}


hr {
  border: 0;
  border-top: 1px solid $grey;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  margin-left: 40px;
  margin-bottom: 20px;
}

pre {
  background: #f5f5f5;
  border: 2px solid $grey;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  word-wrap: break-word;
}

.bg-dark code {
  color: $grey;
}

pre code {
  color: $grey-dark;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 20px;
  border-left: 3px solid $grey;
  //background: $grey-light;
}

/* Navigation Bar */
.nav {
 // background: $grey;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;

  a {
    text-decoration: none;
    padding: 5px 15px 5px 10px;
    margin-left: 0;
    color: $grey-dark;
    font-size: 18px;
    white-space: nowrap;
    line-height: 45px;
    font-weight: 400;
  }

  a:hover {
    color: $primary;
  }

  a:not(:last-child){
    border-right: 2px solid $grey;
  }
}

.nav.nav-box {
  border-top: none;

  a {
    border: 2px solid $grey;
    margin-right: 5px;
    background: $grey;
  }

  a:hover {
    border: 2px solid $primary;
  }
}

.nav.nav-small {
  padding-top: 15px;
  padding-bottom: 15px;

  a {
    border: none;
    font-size: 14px;
  }
}

/* Forms */
textarea, button, option, optgroup, fieldset, label{
    vertical-align: middle;
    margin-bottom: 5px;
}

label{
  margin-right: 15px;
}

/* Tables */

table {
  border-spacing: 0px;

  thead th{
    border-bottom: 2px solid $grey-med-dark;
  }

  thead th:not(:last-child), tbody td:not(:last-child){
    border-right: 1px solid $grey-med-dark;
  }

  th, td {
    padding-left: 10px;
    padding-right: 10px;
  }

  tbody tr:not(:last-child) td {
    border-bottom: 1px solid $grey-med-dark;
  }

  &.light {
    color: $white;

    thead th{
      border-bottom: 2px solid $white;
    }

    thead th:not(:last-child), tbody td:not(:last-child){
      border-right: 1px solid $white;
    }

    tbody tr:not(:last-child) td {
      border-bottom: 1px solid $white;
    }
  }
}

/* Tags */
.tag {
  background: $grey;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
  border: 1px solid $grey-med-dark;
  border-radius: 10px;
}

/* Backgrounds */
.bg-dark {
  background: $grey-dark;
  color: $white;
}

.bg-light { background: $grey-light;
  color: $grey-dark;
}

.bg-grey-light {background: $grey-light;}
.bg-grey {background: $grey;}
.bg-grey-med-dark {background: $grey-med-dark;}
.bg-grey-dark {background: $grey-dark;}

.bg-denim {background: $denim;}
.bg-denim-light {background: $denim-light;}

.bg-blue {background: $blue;}
.bg-blue-light {background: $blue-light;}

.bg-teal {background: $teal;}
.bg-teal-light {background: $teal-light;}

.bg-green {background: $green;}
.bg-green-light {background: $green-light;}

.bg-yellow {background: $yellow;}
.bg-yellow-light {background: $yellow-light;}

.bg-red {background: $red;}
.bg-red-light {background: $red-light;}


/* Colors */
.cl-grey-light {color: $grey-light;}
.cl-grey {color: $grey;}
.cl-grey-med-dark {color: $grey-med-dark;}
.cl-grey-dark {color: $grey-dark;}

.cl-denim {color: $denim;}
.cl-denim-light {color: $denim-light;}

.cl-blue {color: $blue;}
.cl-blue-light {color: $blue-light;}

.cl-teal {color: $teal;}
.cl-teal-light {color: $teal-light;}

.cl-green {color: $green;}
.cl-green-light {color: $green-light;}

.cl-yellow {color: $yellow;}
.cl-yellow-light {color: $yellow-light;}

.cl-red {color: $red;}
.cl-red-light {color: $red-light;}


/* Buttons */
button, input[type="submit"], select, option, .btn {
  font-size: 14px;
  background: none;
  border: 2px solid $primary;
  padding: 7px;
  color: $primary;
  margin-right: 20px;
  outline: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.btn:hover, input[type="submit"]:hover {
  background: $primary-light;
  color: $white;
}

select, .btn.btn-active {
  background: $primary;
  color: $white;
}

 .btn.btn-active:hover{
  border: 2px solid $primary-light;
}

/* Alignment */
.fl-right {
  float: right;
}

.fl-left {
  float: left;
}

/* Text formatting */

.txt-center {
  text-align: center;
  text-anchor: middle;
}

.txt-left {
  text-align: left;
  text-anchor: start;
}

.txt-right {
  text-align: right;
  text-anchor: end;
}

.txt-subtitle {
  text-transform: uppercase;
  font-size: 12px;
}

.txt-white {
  color: $white;
}