/* ----UI styles---- */

/* Tags */
header, footer{
  padding-top: 30px;
  padding-bottom: 30px;
}

section {
  padding-bottom: 30px;
}

p {
  margin-bottom: 10px;
  margin-top: 5px;
}

a {
  color: $primary;

  .bg-dark & {
    color: $primary-light;
  }
}


hr {
  border: 0;
  border-top: 1px solid $grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

pre {
  background: #f5f5f5;
  border: 2px solid $grey;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  word-wrap: break-word;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border-left: 3px solid $grey;
  //background: $grey-light;
}

/* Backgrounds */
.bg-dark {
  background: $grey-dark;
  color: $white;
}

.bg-light { background: $grey-light;
  color: $grey-dark;
}

.bg-grey-light {background: $grey-light;}
.bg-grey {background: $grey;}
.bg-grey-dark {background: $grey-dark;}

.bg-denim {background: $denim;}
.bg-denim-light {background: $denim-light;}

.bg-blue {background: $blue;}
.bg-blue-light {background: $blue-light;}

.bg-teal {background: $teal;}
.bg-teal-light {background: $teal-light;}

.bg-green {background: $green;}
.bg-green-light {background: $green-light;}

.bg-yellow {background: $yellow;}
.bg-yellow-light {background: $yellow-light;}

.bg-red {background: $red;}
.bg-red-light {background: $red-light;}


/* Colors */
.cl-grey-light {color: $grey-light;}
.cl-grey {color: $grey;}
.cl-grey-dark {color: $grey-dark;}

.cl-denim {color: $denim;}
.cl-denim-light {color: $denim-light;}

.cl-blue {color: $blue;}
.cl-blue-light {color: $blue-light;}

.cl-teal {color: $teal;}
.cl-teal-light {color: $teal-light;}

.cl-green {color: $green;}
.cl-green-light {color: $green-light;}

.cl-yellow {color: $yellow;}
.cl-yellow-light {color: $yellow-light;}

.cl-red {color: $red;}
.cl-red-light {color: $red-light;}


/* Buttons */
.btn {
  font-size: 14px;
  background: none;
  border: 2px solid $primary;
  padding: 7px;
  color: $primary;
  margin-right: 20px;
  outline: none;
}

.btn:hover {
  background: $primary-light;
  color: $white;
}

.btn.btn-active {
  background: $primary;
  color: $white;
}

.btn.btn-active:hover{
  border: 3px solid $primary-light;
}


/* Text formatting */

.txt-center {
  text-align: center;
  text-anchor: middle;
}

.txt-left {
  text-align: left;
  text-anchor: start;
}

.txt-right {
  text-align: right;
  text-anchor: end;
}

.txt-subtitle {
  text-transform: uppercase;
  font-size: 12px;
}

.txt-white {
  color: $white;
}