/* ----UI styles---- */


/* Tags */
header, footer{
  padding-top: 30px;
  padding-bottom: 30px;
}

section {
  margin-bottom: 30px;
}

p {
  margin-bottom: 10px;
}

hr {
  border: 0;
  border-top: 1px solid $grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border-left: 3px solid $grey;
  //background: $grey-light;
}

/* Backgrounds */
.background-dark {
  background: $grey-dark;
  color: $white;
}

.background-light {
  background: $grey-light;
}

/* Buttons */
.btn {
  font-size: 14px;
  background: none;
  border: 2px solid $primary;
  padding: 7px;
  color: $primary;
  margin-right: 20px;
  outline: none;
}

.btn:hover {
  background: $primary-light;
  color: $white;
}

.btn.btn-active {
  background: $primary;
  color: $white;
}


/* Text formatting */

.txt-center {
  text-align: center;
  text-anchor: middle;
}

.txt-left {
  text-align: left;
  text-anchor: start;
}

.txt-right {
  text-align: right;
  text-anchor: end;
}

.txt-subtitle {
  text-transform: uppercase;
  font-size: 12px;
}